/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@syncfusion/ej2-base/styles/fabric.css';
@import '~@syncfusion/ej2-buttons/styles/fabric.css';
@import '~@syncfusion/ej2-calendars/styles/fabric.css';
@import '~@syncfusion/ej2-dropdowns/styles/fabric.css';
@import '~@syncfusion/ej2-inputs/styles/fabric.css';
@import '~@syncfusion/ej2-lists/styles/fabric.css';
@import '~@syncfusion/ej2-popups/styles/fabric.css';
@import '~@syncfusion/ej2-navigations/styles/fabric.css';
@import '~@syncfusion/ej2-angular-schedule/styles/fabric.css';
/* custom loading spinner */

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #003557;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
